::-webkit-scrollbar {
  display: none;
}

/* Body-Home */
.Home {
  width: auto;
  height: 50vw;
  text-align: center;
  background-image: url("./img/bgMarvel.jpg");
  background-size: cover;
  margin: 0 auto;
}

.App-logo {
  height: 25vw;
  pointer-events: none;
}

/* Lista imágenes-enlaces */
.Home-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 7%;
}

.comicsImg {
  width: 15vw;
  height: 13vw;
  margin-right: 15px;
  border-radius: 10px;
}

.personajeImg {
  width: 15vw;
  height: 13vw;
  margin-right: 15px;
  border-radius: 10px;
}

.serieImg {
  width: 15vw;
  height: 13vw;
  border-radius: 10px;
}
